.slideshow-container {
    width: 100vw;
    height: auto;
    padding: 67px 12.5% 0;
    background-color: #fff;
}

.slideshow-container>div:first-child {
    position: relative;
}

@media only screen and (min-width: 768px) {
    .slideshow-container {
        padding: 200px 12.5% 0;
    }


}