.nos-produits-loyalty-container {
    width: 80%;
    margin: auto;
    padding: 45px 0 100px;
}

.nos-produits-loyalty-container>h3 {
    font-family: 'Playfair Display',
        serif;
    font-weight: 700;
    font-size: 32px;
    color: #b19f6f;
    text-align: center;
    text-shadow: 0em 0em 2em #000000;
    margin: 0 0 35px;
}

.nos-produits-loyalty-container>div {
    margin: 0 auto;
}

.nos-produits-loyalty-container>div>h3 {
    cursor: pointer;
    font-family: 'Playfair Display',
        serif;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0em 0em 2em #000000;
    line-height: 1.7em;
    letter-spacing: 2px;
    margin: auto auto;
    border: 2px solid #b19f6f;
    border-radius: 3px;
    width: fit-content;
    padding: 6px 20px;
}

.nos-produits-loyalty-container>div:hover h3 {
    text-decoration: underline;
}

.nos-produits-nutrition-header>div {
    width: 60px;
    height: 2px;
    background-color: #b19f6f;
}