.nos-produits-header-container {
    position: relative;
    width: 100vw;
    background-color: #214263;
}

.nos-produits-header-container>div:first-child {
    background-image: url("../../../../styles/images/nos-produits/header/header-1.png");
    background-position: center;
    /* background-position-y: 30%; */
    background-size: cover;
    width: 100vw;
    height: 145px;
    margin-top: 67px;
    /* opacity: 0; */
    transition: 1.5s ease-out;

}

.nos-produits-header-loaded {
    opacity: 1 !important;
    background-position-y: center !important;
}

.nos-produits-header-unloaded {
    background-position-y: 30% !important;
    opacity: 0 !important;
    transition: 0s !important;
}

.nos-produits-header-container>div>div {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;

}

.nos-produits-header-container>div>div>h3 {
    font-size: 43px;
    color: #fff;
    font-family: 'Playfair Display',
        serif;
    line-height: 1.3em;
    padding: 10px 0;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.45);
}

.nos-produits-header-svg {
    background-image: url("../../../../styles/images/header-border.svg");
    position: absolute;
    background-size: 100% 100px;
    bottom: -1px;
    height: 100px;
    z-index: 10;
    width: 100vw;
}

@media only screen and (min-width: 800px) {
    .nos-produits-header-container>div:first-child {
        margin-top: 199px;
        height: 192px;
    }

    .nos-produits-header-container>div>div>h3 {
        padding: 36px 0;
    }
}