.footer-container {
    background-color: #222222;
    width: 100%;
    padding-top: 10px;
}

.footer-main-grid-container {
    width: 90%;
    margin: 0 auto;
}

.footer-grid-1 {
    grid-column: 1;
    grid-row: 1;
}

.footer-grid-2 {
    grid-column: 2;
    grid-row: 1;
}

.footer-grid-3 {
    grid-column: 3;
    grid-row: 1;
}

.footer-grid-4 {
    grid-column: 1;
    grid-row: 2;
}

.footer-grid-5 {
    grid-column: 2;
    grid-row: 2;
}

.footer-grid-6 {
    grid-column: 3;
    grid-row: 2;
}

.footer-grid-7 {
    grid-column: 1;
    grid-row: 3;
}

.footer-grid-8 {
    grid-column: 2;
    grid-row: 3;
}

.footer-grid-9 {
    grid-column: 3;
    grid-row: 3;
}

.footer-grid-container {
    position: relative;
    cursor: pointer;
    margin: 3px;
}

.footer-grid-img {
    widows: 100%;
    height: 100%;
}

.footer-grid-container div {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .4);
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .5s ease;
}

.footer-grid-container:hover div {
    height: 100%;
    opacity: 1;
    /* border: 4px solid #b4a06e; */
}

.footer-main-logo {
    margin: 50px auto;
}

.footer-main-logo img {
    width: 145px;
    height: auto;
}

.footer-main-awards {
    margin: 40px auto;
    position: relative;
}

.footer-main-awards img {
    width: 145px;
    height: auto;
}

.footer-main-awards path {
    fill: transparent;
}

.footer-main-awards text {
    fill: #fff;
    text-align: center;
    width: 100%;
    font-size: 22px;
    font-family: 'Poppins',
        sans-serif;
    line-height: 1.5em;
    font-weight: 400;
    transform: rotate(-38deg);
}

.footer-awards-svg-container {
    width: 100%;
    position: absolute;
    top: 93px;
    left: -10px;
    z-index: 0;
}

.footer-main-updates {
    width: 100%;
    margin: 50px 0 130px;
}

.footer-updates-container {
    width: 370px;
    height: 400px;
    margin: 0 auto;
}

.footer-updates-header {
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    display: flex;
    justify-content: last;
}

.footer-updates-header div p:first-child {
    cursor: pointer;
}

.footer-updates-header span {
    width: 40px;
    height: 40px;
    padding-bottom: 20px;
    background-color: #fdfbf9;
    cursor: pointer;
}

.footer-updates-header span img {
    width: 38px;
    height: 38px;
    margin: auto;
}

.footer-updates-header div {
    padding-left: 10px;

}

.footer-updates-header div p {
    margin: 0;
    color: #b4a06e;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Poppins',
        sans-serif;
    line-height: 1.5em;
    text-align: left;
    background-color: transparent;
}

.footer-updates-header div p:last-child {
    margin: 0;
    color: #9197a3;
    font-size: 11px;
    font-weight: 300;
    font-family: 'Poppins',
        sans-serif;
    line-height: 1.5em;
    margin-top: -4px;
}

.footer-updates-body {
    padding: 10px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.footer-updates-body::-webkit-scrollbar {
    width: 10px;
}

.footer-updates-body::-webkit-scrollbar-thumb {
    background: #888;
}

.footer-updates-body::-webkit-scrollbar-thumb:hover {
    background: #b4a06e;
}

.footer-update-container>div {
    border-bottom: 2px solid #d9d9d9;
    padding: 20px 0 0px;
}

.footer-update-container>div:last-child {
    padding: 20px 0;
    border: none !important;
}

.footer-updates-text-container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
}

.footer-update-one {
    padding-top: 0 !important;
}

.footer-update-container p {
    color: #d9d9d9;
    font-size: 13px;
    font-weight: 300;
    font-family: 'Poppins',
        sans-serif;
    margin: 10px 0;
}

.footer-update-image-two {
    width: 100%;
    height: 400px;
    background-image: url("../../styles/images/footer/posts/footer-update-1.jpg");
    background-position: center;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.footer-update-image-one {
    width: 100%;
    min-height: 196px;
    background-image: url("../../styles/images/body/slideshow/slideshow-6.png");
    background-position: center;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.footer-image-container {
    position: relative;
}

.footer-image-container div:last-child {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .4);
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .5s ease;
    cursor: pointer;
}

.footer-image-container:hover div:last-child {
    height: 100%;
    opacity: 1;
    /* border: 4px solid #b4a06e; */
}

.footer-update-footer p {
    text-align: right;
}

.footer-update-footer p a {
    text-decoration: none;
    font-size: 11px;
    font-weight: 300;
    font-family: 'Poppins',
        sans-serif;
    color: #b4a06e;
}

.footer-update-footer p a:hover {
    text-decoration: underline;

}

.footer-social {
    padding: 120px 40px 50px;
}

.footer-social ul {
    display: flex;
    padding: 0;
    justify-content: center;
}

.footer-social ul li {
    margin: 0 10px;
    z-index: 100;
}

.footer-social ul span {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
    transition: .15s ease-in-out;
}

.footer-social ul span:hover {
    background-color: #b4a06e;
    cursor: pointer;
}

.linked-in-icon {
    font-size: 1.3rem !important;
}

.footer-bottom {
    width: 100%;
    background-color: #0e0e0e;
    padding: 15px 20px 22px;
}

.footer-bottom div p {
    display: flex;
    padding: 10px;
    margin: 0;
    justify-content: center;
    flex-wrap: wrap;
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins',
        sans-serif;
    line-height: 1.5em;
    padding: 3px;
}

.footer-bottom div p span {
    white-space: nowrap;
    z-index: 100;

}

.footer-bottom div p span a {
    color: #727272;
    cursor: pointer !important;
    text-decoration: none;
    transition: all .4s ease-in-out;
    z-index: 100;
    padding: 0 5px;
}

.footer-bottom div p span a:hover {
    text-decoration: underline;
    color: #474747;
}

@media only screen and (min-width: 768px) and (max-width: 1080px) {
    .footer-main-grid-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 40px auto;

    }

    .footer-main-image-grid {
        margin: auto;
    }

    .footer-section-two {
        width: 45%;
        margin: auto;
    }

    .footer-main-logo {
        margin: auto;
    }

    .footer-social {
        width: 45%;
        padding: 0;
        margin: auto;
    }

    .footer-main-updates {
        width: 45%;
        margin: auto;
        margin-top: 65px;
    }
}

@media only screen and (min-width: 980px) {
    .footer-main-grid-container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 95%;
        margin: 20px auto 31px;
    }

    .footer-main-image-grid {
        margin: auto;
    }

    .footer-section-two {
        width: 22%;
        margin: auto;
    }

    .footer-main-logo {
        margin: auto;
    }

    .footer-social {
        width: 22%;
        padding: 0;
        margin: auto;
    }

    .footer-main-updates {
        width: 30%;
        margin: auto;
    }

    .footer-updates-container {
        width: auto;
    }
}